{{! Use the main layout }}
{{!< main }}

<section class="logout-confirmation">
    <h2>&mdash; See you next time! &mdash;</h2>
    <p class="gaegu-regular">You have successfully logged out.</p>
</section>