.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, body, footer {
    align-self: center;
}

p {
    text-align: center;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #022851;
    display: flex;
    justify-content: space-between;
    padding: 0px 2vw;
    height: 100px;
    margin: auto auto 20px auto;
}

header, footer {
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo img {
    width: 50px;
    margin: auto 15px auto auto;
}

h1 {
    font-size: 60px;
}

.logo a {
    text-decoration: none;
    color: #FFBF00;
}

h2 {
    font-size: 30px;
    text-align: center;
}

label, input, textarea, #actual-bio, .or, .title, nav, button {
    font-size: 20px;
}

.post-form label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.content, footer, .options li {
    font-size: 17px;
}

.post-status-bar {
    display: grid;
    font-size: 13px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
}

.status-buttons {
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.frame {
    font-size: 13px;
}

.likes, .delete, .keep {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 0;
    margin: 0;
    line-height: 10px;
}

.num-likes, .keep {
    white-space: nowrap;
}

.heart, .trash, .frame {
    border: none;
    background-color: transparent;
    color: black;
    margin: 0 0.5vw 0 0;
    padding: 0;
}


button.heart, button.trash {
    width: 20px;
}

.heart:hover, .trash:hover, .frame:hover {
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.timestamp {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
    text-align: right;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

nav ul li {
    list-style: none;
    padding: 5px 2vw;
}

nav ul li a {
    text-decoration: none;
    color: #FFBF00;
}

nav ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

input {
    width: 15vw;
}

.post-form {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.post-form input, textarea, #emoji-grid {
    width: 100%;
}

#emoji-grid {
    height: 15em;
    border: solid black;
    border-width: thin;
}

.post-form textarea {
    height: 10em;
}

.form-actions {
    display: flex;
    justify-content: space-evenly;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    background-color: #FFFADD;
    box-shadow: 10px 10px #8ECDDD;
    width: 40vw;
    padding: 30px;
    margin: auto auto 50px auto;
}

.post-avatar img, .user-info img {
    border-radius: 10px;
    width: 40px;
    height: auto;
}

.profile-avatar img {
    border-radius: 10px;
    height: auto;
    width: 150px;
}

.post-avatar {
    display: flex;
    margin: auto auto 7px 0;
}

.posts-list, .user-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#timer, #checkbox {
    margin: 15px auto 20px auto;
    width: 100%;
}

#timer {
    display: none;
    justify-self: center;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#checkbox, #timer {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#timer {
    display: none;
}

#timer-toggle {
    margin: auto 1vw auto auto;
}

#timer-toggle:hover, #checkbox label {
    cursor: pointer;
}

#auto-delete {
    width: 90%;
    margin: auto 0;
    padding: 0;
}

#auto-delete:hover {
    cursor: pointer;
}

.options {
    display: none;
}

.options {
    list-style: none;
    text-align: center;
}

.options li:hover {
    background-color: #FFFADD;
    cursor: pointer;
}

.selected {
    background-color: #8ECDDD;
    cursor: default;
}

.visible {
    display: flex;
    flex-direction: column;
}

.posts-list .show-posts ul, .users-posts ul, .options {
    padding-inline-start: 0px;
}

.show-posts {
    margin: 2vw auto auto auto;
}

#dropdown {
    width: 100px;
}

.options li {
    margin: 2px auto;
    padding: 3px 10px;
}

.bold {
    font-weight: bold;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.profile-container, #actual-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#actual-bio button {
    margin: 2vw auto auto auto;
    width: 70px;
}

.profile-info {
    margin: 0px auto 0px auto;
    padding: 0px;
    font-size: 20px;
}

.profile-info p {
    margin: 12px;
}

#bio-edit {
    display: none;
    width: 40vw;
}

#bio-edit button {
    width: 25%;
}

#bio-buttons button {
    width: 25%;
    padding: auto 2vw;
}

.title {
    margin: auto auto auto 15px;
}

.login-register {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.login-area, .register-area {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.or {
    white-space: nowrap;
    margin: 3vw;
    font-size: 2vw;
}

.login-register button, input, #dropdown {
    border-radius: 5px;
}

button {
    background-color: #22668D;
    color: #FFFADD;
    width: 10vw;
    border-radius: 5px;
    padding: 3px;
}

button:hover {
    background-color: #6aaaba;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 40px;
    margin: 50px auto auto auto;
    color: #FFCC70;
    background-color: #2a343eee;
}

@media screen and (max-width: 750px) {
    header {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        padding: 7vw;
        height: fit-content;
        margin: auto auto 8vw auto;
    }
  
    h1 {
        font-size: 12vw;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 5vw;
    }

    .logo {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }

    .logo img {
        width: 12vw;
    }

    nav {
        margin: 1vw auto auto auto;
        justify-items: space-evenly;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    .post-avatar img, .user-info img {
        border-radius: 2vw;
        width: 8vw;
        height: auto;
    }

    .content-container {
        display: flex;
        flex-direction: column;
    }

    label, input, textarea, #actual-bio, .or, .title, nav, button, #dropdown {
        font-size: 4.5vw;
    }
    
    .content, footer, .options li {
        font-size: 3.5vw;
    }

    .options li {
        padding: 0.5vw 1vw;
    }

    .content {
        margin: 1.2vw auto 1.3vw 0;
    }
    
    input {
        width: 30vw;
    }

    .post {
        width: 70vw;
    }

    #bio-edit {
        width: 90%;
    }

    #timer, #checkbox {
        margin: 1vw auto 1.5vw auto;
    }
    
    #timer-toggle {
        margin: auto 4vw auto auto;
    }

    .timestamp {
        margin: auto 0 auto 3vw;
    }

    .likes, .delete, .keep {
        margin: 0;
        padding: 0;
    }

    .heart, .trash, .frame {
        margin: 0 4vw 0 0;
        padding: 0;
    }
    
    button.heart, button.trash, button.frame {
        width: 2vw;
    }

    .post-status-bar {
        grid-template-columns: 1fr 8fr;
        font-size: 2.7vw;
    }

    .frame {
        font-size: 2.7vw;
    }

    .post-form {
        width: 80%;
        margin: 4vw auto 4vw auto;
    }
    
    .show-posts ul {
        margin: 5vw;
    }

    .profile {
        flex-direction: column;
    }

    .profile-avatar img {
        width: 20vw;
    }

    .login-register {
        flex-direction: column;
    }
    
    .login-area, .register-area {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        padding: 2vw;
        flex-direction: column;
    }
    
    button, #dropdown {
        width: 25vw;
    }

    footer {
        text-align: center;
        padding: 10vw;
        margin: 15vw auto auto auto;
    }
}