.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, body, footer {
    align-self: center;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #FFCC70;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    margin: auto auto 50px auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo img {
    width: 50px;
}

h1 {
    font-size: 60px;
}

.logo a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 30px;
    text-align: center;
}

label, input, textarea, .or, .title, nav, button {
    font-size: 20px;
}

.content, footer {
    font-size: 17px;
}

.post-status-bar {
    display: grid;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 70fr;
    align-content: center;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.likes {
    display: flex;
}

.heart {
    margin: auto 5px auto auto;
    border: none;
    background-color: transparent;
    color: black;
    width: auto;
    height: auto;
}

.heart:hover {
    background-color: transparent;
    color: black;
}

.timestamp {
    display: flex;
    justify-self: flex-end;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

nav ul li {
    list-style: none;
    padding: 5px 30px;
}

nav ul li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

input {
    width: 150px;
}

.post-form {
    width: 25em;
    display: flex;
    flex-direction: column;
}

.post-form input, textarea, #emoji-grid {
    width: 100%;
}

#emoji-grid {
    height: 15em;
    border: solid black;
    border-width: thin;
}

.post-form textarea {
    height: 10em;
}

.form-actions {
    display: flex;
    justify-content: space-evenly;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    background-color: #FFFADD;
    box-shadow: 10px 10px #8ECDDD;
    width: 30em;
    padding: 30px;
    margin: auto auto 50px auto;
}

.post img, .user-info img {
    border-radius: 10px;
    width: 40px;
    height: auto;
}

.post-avatar {
    display: flex;
    margin: auto auto 7px 0;
}

.posts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.posts-list ul {
    padding-inline-start: 0px;
}

.title {
    margin: auto auto auto 15px;
}

.login-register {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.login-area, .register-area {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.or {
    white-space: nowrap;
    margin: 50px;
}

.login-register button, input {
    border-radius: 3px;
}

button {
    background-color: #22668D;
    color: #FFFADD;
    width: 100px;
}

button:hover {
    background-color: #6aaaba;
}

footer {
    text-align: center;
    padding: 40px;
    margin: 50px auto auto auto;
    color: #FFCC70;
    background-color: #2a343eee;
}

@media screen and (max-width: 975px) {
    header {
        padding: 0px 35px;
        height: 70px;
        margin: auto auto 30px auto;
    }
    
    h1 {
        font-size: 42px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    label, input, textarea, .or, .title, nav, button {
        font-size: 20px;
    }
    
    .content, footer {
        font-size: 15px;
    }
    
    nav ul li {
        list-style: none;
        padding: 3.5px 21px;
    }
    
    nav ul li a {
        text-decoration: none;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
    
    input {
        width: 140px;
    }

    .post {
        width: 15em;
    }

    .content-container {
        flex-direction: column;
    }

    .timestsamp {
        text-align: right;
    }

    .post-status-bar {
        grid-template-columns: 1fr 1.5fr;
    }

    .post-form {
        margin: 20px auto 20px auto;
    }
    
    .posts-list ul {
        margin: 20px;
    }

    .login-register {
        flex-direction: column;
    }
    
    .login-area, .register-area {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        padding: 7px;
        flex-direction: column;
    }
    
    .or {
        white-space: nowrap;
    }
    
    .login-register button, input {
        border-radius: 2px;
    }
    
    button {
        background-color: #22668D;
        color: #FFFADD;
        width: 100px;
    }
    
    button:hover {
        background-color: #6aaaba;
    }
    
    footer {
        text-align: center;
        padding: 30px;
        margin: 30px auto auto auto;
        color: #FFCC70;
        background-color: #2a343eee;
    }
}